* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
/* .products {
	display: flex;
	width: 100vw;
	height: fit-content;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.product {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	border: 2px solid black;
	padding: 10px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.product h1,
p {
	margin: 10px 0;
}
.product button {
	padding: 10px;
	background-color: crimson;
	color: white;
	border: none;
	outline: none;
	border-radius: 10px;
	margin: 10px 0;
} */
